.key-advantages {
  padding: 60px 20px;
  background-color: #ebefee;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.keyadvantage-section-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #126b55;
}

.keyadvantage-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.keyadvantage-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

.keyadvantage-flip-card {
  background: transparent;
  height: 360px;
  perspective: 1200px;
}

.keyadvantage-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.keyadvantage-flip-back{
  color:#fff;
  margin: 0px 0;
}

.keyadvantage-flip-front,
.keyadvantage-flip-back {
  position: absolute;
  inset: 0;
  border-radius: 16px;
  backface-visibility: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Overlay effect */
.keyadvantage-flip-front::before,
.keyadvantage-flip-back::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.9); /* dark overlay */
  z-index: 0;
}

.keyadvantage-flip-front > *,
.keyadvantage-flip-back > * {
  position: relative;
  z-index: 1;
}

/* Different backgrounds for each card */
.keyadvantage-flip-card:nth-child(1) .keyadvantage-flip-front,
.keyadvantage-flip-card:nth-child(1) .keyadvantage-flip-back {
  background-image: url('../../assets/Agric2.webp');
}

.keyadvantage-flip-card:nth-child(2) .keyadvantage-flip-front,
.keyadvantage-flip-card:nth-child(2) .keyadvantage-flip-back {
  background-image: url('../../assets/agricultura.jpg');
}

.keyadvantage-flip-card:nth-child(3) .keyadvantage-flip-front,
.keyadvantage-flip-card:nth-child(3) .keyadvantage-flip-back {
  background-image: url('../../assets/dg.png');
}


.keyadvantage-card-number {
  font-size: 3rem;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 50px;
}

.keyadvantage-card-title {
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 768px) {
  .keyadvantage-card-title {
    font-size: 1rem;
  }
}

